body {
  margin: 0 auto;
  font-family: Lato, sans-serif;
}

.container {
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.main {
  background-image: url(../img/bg-top.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 165px;
  padding-bottom: 240px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-arround;
}

.main__main__logo {
  margin-bottom: 165px;
}

.main__title {
  text-transform: uppercase;
  color: white;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
}

.main__subtitle {
  color: white;
  font-size: 26px;
  margin-bottom: 280px;
  position: relative;
  letter-spacing: 2px;
  text-align: center;
}

.main__subtitle:after {
  content: "";
  width: 105px;
  margin-top: 50px;
  background-color: white;
  position: absolute;
  height: 2px;
  right: 35%;
}

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  width: 182px;
  height: 47px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 75px;
}

.main__button:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

.nav {
  border-bottom: 1px solid #f2f2f2;
  max-width: 100%;
  margin: 0 auto;
}

.nav__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 39.69072%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav__link {
  list-style-type: none;
}

.nav__item {
  text-decoration: none;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.nav__item:hover {
  color: #ada074;
  transition: all 0.3s;
}

.about {
  padding-top: 130px;
  padding-bottom: 100px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  text-transform: uppercase;
  font-size: 34px;
  color: #000000;
  font-weight: 800;
  margin: 0;
  margin-bottom: 75px;
}

.about__text {
  color: #868585;
  font-size: 14px;
  text-align: center;
  margin-bottom: 100px;
  line-height: 1.6;
}

.about__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: no-wrap;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 285px;
  height: 220px;
}

.item-about__icon {
  margin-bottom: 70px;
}

.item-about__title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.item-about__text {
  color: #868585;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}

.portfolio {
  padding-top: 110px;
  padding-bottom: 65px;
  background-color: #f3f3f3;
}

.portfolio__container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio__title {
  text-transform: uppercase;
  color: #000;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 90px;
}

.portfolio__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.portfolio__tabs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding-inline-start: 0px;
}

.portfolio__tabs ul li {
  list-style-type: none;
  margin-left: 0px;
}

.portfolio__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #000000;
  width: 182px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}

.portfolio__btn:hover {
  transition: all 0.3s;
  transform: scale(1.03);
}

.tab-link {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  width: 50px;
  padding: 4px;
}

.tab-link:hover {
  color: #ada074;
  transition: all 0.5s;
}

.tab-link:focus {
  color: #ada074;
  border: none;
  border-radius: 5px;
  background-color: #EAEAEA;
}

.tab__content_selected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.tab__content_selected img {
  margin-bottom: 20px;
}

.tab__content_selected img:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

.tab__content-hide {
  display: none;
}

.partners {
  padding-top: 105px;
  padding-bottom: 100px;
  background-image: url(../img/bg-partners.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.partners__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.partners__title {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 95px;
}

.partners__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 60.82474%;
}

.partners__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.contacts {
  padding-top: 185px;
  padding-bottom: 100px;
}

.contacts__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contacts__title {
  text-transform: uppercase;
  color: #000;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 170px;
}

.contacts__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 73.19588%;
}

.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 195px;
  width: 34.50704%;
}

.contacts__message {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.contacts__name {
  font-size: 14;
  color: #000000;
  font-weight: 800;
}

.contacts__email {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.contacts__email span {
  font-weight: 800;
}

.contacts__form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 54.22535%;
}

.contacts__btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}

.contacts__btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 800;
  font-size: 14px;
}

.contacts__btn a:hover {
  color: #ada074;
}

.contacts__inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input__item {
  width: 41.55844%;
}

.input__item input {
  height: 35px;
  border: none;
  width: 100%;
  border-top: 1px solid #000000;
  background-color: #f8f7f7;
}

.input-item__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #000;
}

.message__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 98.7013%;
  margin-bottom: 45px;
}

.message__item textarea {
  height: 120px;
  width: 100%;
  border: none;
  border-top: 1px solid #000000;
  background-color: #f8f7f7;
  resize: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3c3c3c;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 45px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 25.7732%;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.footer__nav a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 14px;
}

.footer__nav a:hover {
  color: #ffffff;
}

.footer__copyright {
  color: #6c6c6c;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .tab__content_selected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav__links {
    width: 52.16802%;
  }
  .about {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .about__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about__column {
    justify-content: space-between;
    padding: 30px;
  }
  .portfolio {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
  .portfolio__tabs {
    margin-bottom: 50px;
  }
  .contacts {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .contacts__row {
    flex-direction: column;
    align-items: center;
  }
  .contacts__text {
    width: 100%;
    align-items: center;
  }
  .contacts__form {
    margin-bottom: 40px;
    width: 100%;
  }
  .footer__nav {
    width: 33.87534%;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 25px;
  }
  .main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main__logo {
    width: 146px;
  }
  .main__subtitle {
    margin-bottom: 120px;
  }
  .main__button {
    width: 140px;
    height: 37px;
    font-size: 12px;
  }
  .nav__links {
    width: 70%;
  }
  .about {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .about__title {
    margin-bottom: 35px;
  }
  .about__text {
    margin-bottom: 50px;
  }
  .portfolio {
    padding-top: 15px;
  }
  .portfolio__btn {
    width: 140px;
    height: 37px;
    font-size: 12px;
  }
  .tab__content_selected img {
    width: 75%;
  }
  .partners {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts {
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .contacts__title {
    margin-bottom: 60px;
  }
  .footer {
    padding-bottom: 20px;
  }
  .footer__nav {
    width: 45.78755%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 25px;
  }
  .main {
    padding-bottom: 50px;
  }
  .main__subtitle {
    margin-bottom: 50px;
  }
  .main__logo {
    width: 146px;
  }
  .main__button {
    margin-bottom: 35px;
  }
  .nav__links {
    width: 80%;
    justify-content: space-between;
    margin: 5px 0;
  }
  .nav__item {
    font-size: 12px;
  }
  .item-about__icon {
    margin-bottom: 0px;
  }
  .portfolio__btn {
    width: 25%;
    height: 40px;
    font-size: 12px;
  }
  .portfolio__tabs ul {
    justify-content: space-around;
  }
  .tab__content_selected img {
    width: 75%;
  }
  .tab-link {
    font-size: 12px;
  }
  .partners__items {
    width: 85%;
  }
  .input-item__title {
    font-size: 12px;
  }
  .footer__nav {
    width: 55.55556%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 22px;
  }
  .main {
    padding-top: 35px;
  }
  .main__logo {
    width: 146px;
  }
  .main__subtitle {
    font-size: 20px;
  }
  .main__button {
    width: 140px;
    height: 37px;
    font-size: 12px;
  }
  .nav__links {
    flex-direction: column;
  }
  .nav__item {
    font-size: 12px;
  }
  .about {
    padding-top: 35px;
  }
  .about__column {
    padding: 30px 0 30px 0;
  }
  .tab__content_selected img {
    width: 75%;
  }
  .portfolio__title {
    margin-bottom: 20px;
  }
  .portfolio__tabs {
    width: 60%;
    margin-bottom: 25px;
  }
  .tab-link {
    font-size: 10px;
  }
  .portfolio__btn {
    width: 140px;
    height: 37px;
    font-size: 12px;
  }
  .partners {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .partners__items {
    flex-direction: column;
    height: 350px;
  }
  .partners__title {
    margin-bottom: 40px;
  }
  .contacts {
    padding-top: 25px;
  }
  .contacts__title {
    margin-bottom: 30px;
  }
  .input-item__title {
    font-size: 10px;
  }
  .footer__nav {
    width: 86.2069%;
  }
}
